/* Target the root and provide defaults */

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    /* Set custom fonts */
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway","Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Custom properties for task five */
    --font-size-small: 1em;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Adding Custom properties for the font weight - task 6 */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Custom properties for line heights - task 8 */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Custom property targeting text alignment - task 10*/
    --section-header-align: cener;

    /* Custom header for text-transform property - task 11 */
    --section-tagline-transform: uppercase;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: #161616;

    /* Set the body's font family to  font-family-base*/
    font-family: var(--font-family-base);

    /* Any fonts in the body should have their sizes set to font-size-medium */
    font-size: var(--font-size-medium);

    /* Set boldness of fonts */
    font-weight: var(--font-weight-regular);

    /* Set the line height */
    line-height: var(--line-height-base);
}

/* New declaration for all heading levels */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);

    /* Set font weight for all headingd */
    font-weight: var(--font-weight-bold);
}

a {
    color: #161616;

    /* Remove text decorations from all a elements - Task 9*/
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-header {
    text-align: var(--section-header-align);
}

.section-tagline {
    color: #D73953;
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}